ul {
  display: flex;
  justify-content: center;
}
ul li {
  position: relative;
  display: block;
  color: #666;
  font-size: 30px;
  height: 60px;
  width: 60px;
  background: #171515;
  line-height: 60px;
  border-radius: 50%;
  margin: 0 15px;
  cursor: pointer;
  transition: 0.5s;
}
ul li:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
  /* background: #d35400; */
  border-radius: 50%;
  transform: scale(0.9);
  z-index: -1;
  transition: 0.5s;
}
ul li:nth-child(1):before {
  background: #4267b2;
}
ul li:nth-child(2):before {
  background: #1da1f2;
}
ul li:nth-child(3):before {
  background: #e1306c;
}

ul li:hover:before {
  filter: blur(3px);
  transform: scale(1.2);
  /* box-shadow: 0 0 15px #d35400; */
}
ul li:nth-child(1):hover:before {
  box-shadow: 0 0 15px #4267b2;
}
ul li:nth-child(2):hover:before {
  box-shadow: 0 0 15px #1da1f2;
}
ul li:nth-child(3):hover:before {
  box-shadow: 0 0 15px #e1306c;
}

ul li:nth-child(1):hover {
  color: #456cba;
  box-shadow: 0 0 35px goldenrod;
  text-shadow: 0 0 15px #4267b2;
}
ul li:nth-child(2):hover {
  color: #26a4f2;
  box-shadow: 0 0 35px goldenrod;
  text-shadow: 0 0 15px #1da1f2;
}
ul li:nth-child(3):hover {
  color: #e23670;
  box-shadow: 0 0 60px goldenrod;
  text-shadow: 0 0 15px #e1306c;
}

/* ul li:hover{
    color: #ffa502;
    box-shadow: 0 0 15px #d35400;
    text-shadow: 0 0 15px #d35400;
  } */

.input-group {
    width: 50%;
    margin: auto;
    padding-top: 50px;
}

body {
  background-color: maroon;
  text-align: center;
  border-color: darkgoldenrod;
}

.box {
  border-color: goldenrod;
  border-width: 15px;
  border-style: groove;
  width: 1000px;
  padding: 500px;
  margin-left: 200px;
  background-image: url("https://images.app.goo.gl/vZQNK6SLaA4qxyZN9");
  overflow: auto;
  resize: both;
  height: auto;
}

.box img {
    width: 800px;
    height: auto;
      
}


.header {
  padding: 60px;
  text-align: center;
  background: black;
  color: goldenrod;
  font-size: 20px;
  font-family: Cursive;
}

.fa {
  padding: 30px;
  font-size: 30px;
  width: 50px;
  text-align: left;
  text-decoration: none;
  border-radius: 50%;
  color: black;
  background-color: khaki;
}

.meme-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.headline {
  font-size: 100px;
  font-family: cursive;
}

#search-size{
  background-color: goldenrod;
  color: black;
  border-radius: 25px;
  outline: none;
  border: none;
  font-size: 50px;
  width: 300px;
}

#search-size:hover{
  box-shadow: 0 0 60px black;
}

#search-btn{
  background-color: black;
  color: goldenrod;
  outline: none;
  border: none;
  border-radius: 25px;
  
}

#search-btn:hover{
  box-shadow: 0 0 60px goldenrod;
}

#search-btn img{
  width: 60px;
  height: 35px;
}
